<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html;charset=ISO-8859-1" http-equiv="Content-Type">
  <title>Welcome</title>
</head>
<body>
<table style="text-align: left; width: 100%;" border="0" cellpadding="2"
 cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top;" valign="top"><span style="font-weight: bold; vertical-align: top;">Getting Started</span><br>
      <ul style="list-style-type: circle;">
        <li><a href="http://www.t-plan.com/robot/docs/tutorials/v2.0/index.html">T-Plan Robot Tutorial</a></li>
        <li><a href="http://www.t-plan.com/robot/docs/articles/img_based_testing.html">Image Based Testing Basics</a></li>
        <li><a href="http://www.t-plan.com/robot/docs/examples/index.html">Automation Examples</a></li>
        <li><a href="http://www.t-plan.com/robot/docs/faq.html">T-Plan Robot FAQ</a></li>
      </ul>
      </td>
      <td style="vertical-align: top;" valign="top" rowspan="2"><span
 style="font-weight: bold;">T-Plan Robot v2.0 Documentation</span><br>
      <ul style="list-style-type: circle;">
        <li><a href="http://localdoc/install/install.html">Release Notes</a><br>
        </li>
        <li><a href="http://localdoc/gui/index.html">GUI Reference</a><br>
        </li>
        <li><a href="http://localdoc/cli/clioptions.html">CLI Reference</a><br>
        </li>
        <li><a href="http://localdoc/scripting/commref.html">Scripting Language Reference</a><br>
        </li>
        <li><a href="http://localdoc/api/index.html">Java API Documentation</a><br>
        </li>
        <li><a href="http://localdoc/api/docs/build.html">Build Instructions</a><br>
        </li>
        <li><a href="http://localdoc/api/docs/javatestscripts.html">Developing Java Test Scripts</a><br>
        </li>
        <li><a href="http://localdoc/api/docs/plugin.html">Plugin Framework Reference</a><br>
        </li>
        <li><a href="http://localdoc/api/docs/localize.html">Localization Instructions</a><br>
        </li>
      </ul>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;" valign="top"><span style="font-weight: bold;">Getting Help</span><br>
      <ul style="list-style-type: circle;">
        <li><a href="https://sourceforge.net/tracker/?group_id=272296&atid=1157638">Report a bug</a><br>
        </li>
        <li><a href="https://sourceforge.net/tracker/?group_id=272296&atid=1157641">Suggest a feature</a><br>
        </li>
        <li><a href="https://sourceforge.net/projects/tplanrobot/forums">Browse forums</a><br>
        </li>
      </ul>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;" valign="top"><span style="font-weight: bold;">Downloads & Upgrades</span><br>
      <ul style="list-style-type: circle;">
        <li><a href="http://menuaction/trial">Get T-Plan Robot Enterprise Trial</a><br>
        </li>
        <li><a href="https://sourceforge.net/projects/tplanrobot/files">Downloads on SourceForge</a><br>
        </li>
        <li><a href="http://localdoc/install/install.html#upgrade">Migration & Upgrade Instructions</a><br>
        </li>
      </ul>
      </td>
      <td style="vertical-align: top;" valign="top"><span style="font-weight: bold;">T-Plan Offer</span><br>
      <ul style="list-style-type: circle;">
        <li><a href="http://www.t-plan.com/robot/downloads/index.html">T-Plan Robot Enterprise</a></li>
        <li><a href="http://www.t-plan.co.uk/product_suite.html">T-Plan Test Management Suite</a></li>
        <li><a href="http://www.t-plan.co.uk/tplan_integrator.html">T-Plan Integrator</a></li>
      </ul>
      </td>
    </tr>
  </tbody>
</table>
<br>
<br>
    <center><font size="-2">Does a web browser fail to open? Click here to <a href="http://preferences/options.webbrowser.browser">configure it</a>.</font></center>
</body>
</html>
